<script type="text/ng-template" id="campusMap.html">
    <div>
        <div class="fieldName" style="margin:10px; display:inline-block;">Click anywhere on the map to start navigating.</div>
        <div class="fieldName" style="text-align: right; display:inline-block; margin-left: 10px;" ng-click="transitMode(isLeafletMap);"><a id="transitModeLink">Switch to Transit Mode</a><i id="transitModeIcon" style="vertical-align: baseline!important;display: inline-block; font-size: 1.8rem;"
            class="icon-bus"></i></div>
    </div>
    <!--<div id="campusMapMessage" class="fieldName accent" style="margin:10px; float: left;">{{campusMapMessage}} <a ng-if="campusMapMessage != ''" ng-click="hideMessage()">Clear</a> </div> -->
    <leaflet lcenter="leafletCenter" maxbounds="maxBounds" controls="controls" layers="layers" width="100%"
    height="500px" id="campusMap" defaults="defaults"></leaflet>
    <div id="mapPage" style="display: none;">
        <div id="map_canvas">
            <ui-gmap-google-map center="gMap.map.center" zoom="gMap.map.zoom" draggable="true" control="gMap.map.control"
            options="gMap.options">
                <ui-gmap-map-control template="control.transitDirections.html" position="RIGHT_TOP" index="-1" controller="transitDirectionsCtrl"></ui-gmap-map-control>
            </ui-gmap-google-map>
        </div>
    </div>

    <div class="widgetPage widgetView" id="directionsPage" style="display:none;">
        <button class="btn btn-sm btn-primary" style="float:right;" onclick="$('#transitModeLink').parent().show(); $('#directionsPage').hide(); $('#mapPage').show();">Back</button>
        <div id="directionsContainer"></div>
    </div>

    <a id="campusMapLink" style="margin: 10px;" href="https://uwaterloo.ca/map/" target="_blank">Check out the Official UWaterloo campus map</a>
</script>

<script type="text/ng-template" id="transitMode.html">

</script>

<script type="text/ng-template" id="control.transitDirections.html">
    <button class="btn btn-sm btn-primary directionBtn dark-background" ng-click="showDirections()" style="right:5px !important; border:none!important;"><i class="icon-share"></i>
    </button>
</script>

<script type="text/ng-template" id="campusMapSettings.html">
    <uib-tabset type="pills" id="campusMapSettingsTabs">
        <uib-tab heading="Map Layers">
            <div class="modal-header">
                <h3 class="modal-title">Select map layers</h3>
            </div>
            <div class="modal-body" id="mapLayersAccordion">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="placesOpen">
                        <uib-accordion-heading>
                            <div>
                                Places <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': placesOpen, 'glyphicon-chevron-right': !placesOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="list-group">
                            <div class="checkbox" ng-repeat="(key, value) in cMapLayers.Places">
                                <label>
                                    <input type="checkbox" value="" ng-model="cMapLayersVis[key].value" ng-change="value.toggleLayer()" /> {{::cMapLayersName[key].name}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group is-open="transitOpen">
                        <uib-accordion-heading>
                            <div>
                                Transit <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': transitOpen, 'glyphicon-chevron-right': !transitOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="list-group">
                            <div class="checkbox" ng-repeat="(key, value) in cMapLayers.Transit">
                                <label>
                                    <input type="checkbox" value="" ng-model="cMapLayersVis[key].value" ng-change="value.toggleLayer()" /> {{::cMapLayersName[key].name}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group is-open="infoOpen">
                        <uib-accordion-heading>
                            <div>
                                Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': infoOpen, 'glyphicon-chevron-right': !infoOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="list-group">
                            <div class="checkbox" ng-repeat="(key, value) in cMapLayers.Information">
                                <label>
                                    <input type="checkbox" value="" ng-model="cMapLayersVis[key].value" ng-change="value.toggleLayer()" /> {{::cMapLayersName[key].name}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group is-open="parkOpen">
                        <uib-accordion-heading>
                            <div>
                                Parking <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': parkOpen, 'glyphicon-chevron-right': !parkOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="list-group">
                            <div class="checkbox" ng-repeat="(key, value) in cMapLayers.Parking">
                                <label>
                                    <input type="checkbox" value="" ng-model="cMapLayersVis[key].value" ng-change="value.toggleLayer()" /> {{::cMapLayersName[key].name}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group is-open="accessOpen">
                        <uib-accordion-heading>
                            <div>
                                Accessibility <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accessOpen, 'glyphicon-chevron-right': !accessOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="list-group">
                            <div class="checkbox" ng-repeat="(key, value) in cMapLayers.Accessibility">
                                <label>
                                    <input type="checkbox" value="" ng-model="cMapLayersVis[key].value" ng-change="value.toggleLayer()" /> {{::cMapLayersName[key].name}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>

                <a style="margin: 10px;" ng-click="clearAllLayers()">Clear All Layers</a>
            </div>
        </uib-tab>
        <uib-tab heading="Building Search">
            <div class="portalForm" widget-item>
                <label for="buildingSearch" class="pIntro">What building are you looking for?</label>
                <input id="buildingSearch" class="form-control" placeholder="Find Locations" ng-model="search.value"
                ng-model-options="{debounce:300}" />
                <div class="pDetails" ng-if="search.value" style="padding-top:5px;">Showing search results for "{{search.value}}". <a ng-click="search.value=''">Clear search</a>                    </div>
            </div>
            <div style="margin-bottom: 10px;" wiget-item>
                <h2 ng-if="search.value==''">Buildings</h2>
                <h2 ng-if="search.value!=''">Search Results</h2>
            </div>
            <widget-list list="location in (searchableObj.value | buildingSearch: search.value | orderBy:'building_name')"
            show-items="8">
                <div class="widget-row fill hoverHighlight" ng-class="::{'hoverHighlight':button}" ng-click="buildingSelect(location.building_id, location.building_code, location.alternate_names); toggleSelected($event);">
                    <div class="widget-row-item fill pad">
                        <div class="itemName">
                            {{::location.building_code}} - {{::location.building_name}}
                        </div>
                    </div>
                </div>
            </widget-list>
        </uib-tab>
    </uib-tabset>
</script>